@model Farmacias

@{
    Layout = "/Views/Shared/LayoutF.cshtml";
}

<div class="container mt-4">
    <h2>Perfil da Farmácia</h2>

    <dl class="row mt-4">
        <div class="col-md-3">
            <dt>Nome:</dt>
        </div>
        <div class="col-md-9">
            <dd>@Model.Nome</dd>
        </div>

        <div class="col-md-3">
            <dt>E-mail:</dt>
        </div>
        <div class="col-md-9">
            <dd>@Model.Email</dd>
        </div>

        <div class="col-md-3">
            <dt>Telefone:</dt>
        </div>
        <div class="col-md-9">
            <dd>@Model.Telefone</dd>
        </div>

        <div class="col-md-3">
            <dt>CEP:</dt>
        </div>
        <div class="col-md-9">
            <dd>@Model.Cep</dd>
        </div>

        <div class="col-md-3">
            <dt>Número da Casa:</dt>
        </div>
        <div class="col-md-9">
            <dd>@Model.NumeroRua</dd>
        </div>

        <div class="col-md-3">
            <dt>Cidade:</dt>
        </div>
        <div class="col-md-9">
            <dd>@Model.Cidade</dd>
        </div>

        <div class="col-md-3">
            <dt>Estado:</dt>
        </div>
        <div class="col-md-9">
            <dd>@Model.Estado</dd>
        </div>
    </dl>

    <div class="mt-3">
        <a href="/produtos/indexf" class="btn btn-secondary">Ver produtos</a>
        <a href="/farmacias/update/@Model.FarmaciaId" class="btn btn-primary ms-2">Atualizar Perfil</a>
    </div>

    <form method="post" action="/Farmacias/Logout" class="mt-3">
        <button type="submit" class="btn btn-danger">Sair</button>
    </form>
</div>
