@model Farmacias

@{
    Layout = "/Views/Shared/LayoutF.cshtml";
}

<div class="container mt-4">
    <h2>Perfil do Farmacia</h2>

    <dl class="row mt-4">
        <dt class="col-sm-3">Nome:</dt>
        <dd class="col-sm-9">@Model.Nome</dd>

        <dt class="col-sm-3">E-mail:</dt>
        <dd class="col-sm-9">@Model.Email</dd>

        <dt class="col-sm-3">Telefone:</dt>
        <dd class="col-sm-9">@Model.Telefone</dd>

        <dt class="col-sm-3">CEP:</dt>
        <dd class="col-sm-9">@Model.Cep</dd>

        <dt class="col-sm-3">Número da Casa:</dt>
        <dd class="col-sm-9">@Model.NumeroRua</dd>

        <dt class="col-sm-3">Cidade:</dt>
        <dd class="col-sm-9">@Model.Cidade</dd>

        <dt class="col-sm-3">Estado:</dt>
        <dd class="col-sm-9">@Model.Estado</dd>
    </dl>
    <form method="post" action="/Farmacias/Logout">
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>


</div>
