@model Produtos
@{ 
    Layout = "/Views/Shared/LayoutC.cshtml";

    var clienteId = Context.Session.GetInt32("UserId");
    if (clienteId == null)
    {
        Context.Response.Redirect("/Clientes/Login");
    }
}

<div class="container mt-4">
    <div class="card">
        <img src="~/uploads/@Model.FileName" class="card-img-top" alt="Imagem do Produto">
        <div class="card-body">
            <h5 class="card-title">@Model.Nome</h5>
            <p class="card-text">@Model.Descricao</p>
            <p class="card-text">Preço: R$ @Model.Preco.ToString("F2")</p>
            <p class="card-text">Quantidade em Estoque: @Model.ProdQtd</p>
        </div>
    </div>

    @if (Model.ProdQtd > 0)
    {
        <div class="mt-4">
            <h4>Comprar Produto</h4>
            <form method="post" asp-action="Comprar" asp-route-id="@Model.ProdutoId">
                <div class="mb-3">
                    <label for="quantidade" class="form-label">Quantidade:</label>
                    <input type="number" name="quantidade" class="form-control" value="1" required 
                           max="@Model.ProdQtd" />
                    <span asp-validation-for="quantidade" class="text-danger"></span>
                </div>
                
                <div class="mb-3">
                    <label for="tipoPagamento" class="form-label">Método de Pagamento:</label>
                    <select name="tipoPagamento" class="form-control" required>
                        <option value="1">Crédito</option>
                        <option value="2">Pix</option>
                        <option value="3">Pagar na entrega</option>
                    </select>
                    <span asp-validation-for="tipoPagamento" class="text-danger"></span>
                </div>
                
                <button type="submit" class="btn btn-primary">Comprar</button>
            </form>
        </div>
    }
    else
    {
        <p class="mt-4 text-danger">Desculpe, este produto está fora de estoque.</p>
    }
</div>
